html, body, #root, .App{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#glavni, #map{
  height: 100%;
  width: 100%;
}
#map { 
   background-color: lightblue; /* Opciono: Dodajte stilove po potrebi */
}
.ol-attribution, 
.ol-zoom-out,
.ol-zoom-in,
.ol-rotate-reset
 {
    visibility: hidden;
}
